<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
</head>
<body>
  <h1>Bem-vindo à loja!</h1>
  <a href="/usuarios">Ver usuários</a>
  <a href="/usuarios/novo">Cadastrar novo usuário</a>
</body>
</html>